html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Gorditas&family=Josefin+Sans:wght@200&family=Mukta:wght@200&family=Palette+Mosaic&family=Red+Hat+Mono:wght@300&family=Rubik+Glitch&family=Spline+Sans+Mono:wght@300&family=Titillium+Web:wght@200&display=swap');


$purple: #6935FD;
$dark: #272727;
$darkGrey: #616161;
$lightGrey: #A8A8A8;
$lightestGrey: #F7F7F7;
$white: #FFFF;

body{
	position: relative;
	width: 1440px;
	height: 1200px;
	background: linear-gradient(121.63deg, #875EFF 2.17%, rgba(83, 29, 238, 0.651031) 59.11%, rgba(94, 38, 253, 0.42) 96.81%);
	font-family: 'Gordita', cursive;
};

.main{
	position: absolute;
	width: 1440px;
	height: 1024px;
	left: 150px;
	top: 80px;
	background: #fff;
	border: #fff 1px solid;
	border-radius: 10px;
	background-repeat: no-repeat;

	&-header{
		display: flex;
		justify-content: space-between;
		margin: 24px 150px 0 150px;
	};

	&-navigation{
		align-self: center;
	};

	&-navigation__list{
		display: flex;
		justify-content: space-between;
			
	};

	&-navigation__item{
		font-size: 18px;
		font-weight: 400;
		margin-left: 54px;
	}

	&-navigation__link{
		text-decoration: none;
		color: $dark;
	};

	&-btn__signUp{
		border: none;
		outline: none;
		align-items: center;
		font-size: 18px;
		font-weight: 400;
		background: #fff;
		color: $purple;
		border: 1px solid $white;
		padding: 12px 35px 10px 35px;
	}

	&-btn__signUp:hover{
		background-color: #beadf1;
		border-radius: 25px;
		transition: 0.5s;
	}

	&-container{
		width: 750px;
		position: absolute;
		display: block;
		top: 270px;
		left: 350px;
	};

	&-row{
		display: block;
		text-align: center;
	};

	&-footer{
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1440px;
		height: 51px;
		top: 974px;
		font-size: 14px;
		
	};

	&-housen{
		margin-left: 115px;
	}

	&-list{
		display: flex;
		justify-content: space-between;
		right: 50px;
		margin-right: 150px;
	};

	&-item{
		margin-left: 30px;
	}

	&-link{
		color: $dark;
		text-decoration: none;
	}
}


.idealHome{
	font-size: 70px;
	font-weight: 700;
	padding-bottom: 32px;
	letter-spacing: -0.4px;
}

.rowContent{
	font-size: 22px;
	line-height: 36px;
};


