@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Gorditas&family=Josefin+Sans:wght@200&family=Montserrat:wght@200&family=Mukta:wght@200&family=Red+Hat+Mono:wght@300&family=Roboto+Slab:wght@100&family=Rubik+Glitch&family=Spline+Sans+Mono:wght@300&family=Titillium+Web:wght@200&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  max-width: 1300px;
  font-family: 'Alef', sans-serif;
}

.container {
  position: relative;
  width: 95%;
  left: 40px;
  right: 40px;
}

.header__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 20px;
  font-size: 20px;
}

.header__navigation {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list-item {
  padding-left: 32px;
}

.header__list-link {
  text-decoration: none;
  color: #142251;
}

.header__list-link:hover {
  color: #2f4fb8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__link-item {
  text-decoration: none;
  color: #142251;
}

.header__link-icon {
  background: #142251;
  width: 34px;
  height: 34px;
  border: #142251 solid 1px;
  border-radius: 25px;
}

.header__link-itemTwo {
  position: absolute;
  width: 10px;
  height: 2px;
  background: aliceblue;
  margin-left: 12px;
  margin-top: 15px;
  cursor: pointer;
}

.header__link-itemTwo::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background: white;
}

.header__link-itemTwo::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.lineOne {
  margin-top: 90px;
}
/*# sourceMappingURL=style.css.map */