// Сброс стилей.
@import '../../CSS/reset.scss';

// Шрифты.
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Gorditas&family=Josefin+Sans:wght@200&family=Montserrat:wght@200&family=Mukta:wght@200&family=Red+Hat+Mono:wght@300&family=Roboto+Slab:wght@100&family=Rubik+Glitch&family=Spline+Sans+Mono:wght@300&family=Titillium+Web:wght@200&display=swap');


//  Перменные с цветом.
$DarkBlue : #142251;
$LiteBlue : #2f4fb8;


// Кнопка : Append request.
@mixin appRequest {
    color: $z;
    font-size: $x;
    border: $c;
    border-radius: 12px;
    background-color: $v;
}

// Первая настройка для принта.
body{
    max-width: 1300px;
    font-family: 'Alef', sans-serif;
}


// Контейнер для всех.
.container{
    position: relative;
    width: 95%;
    left: 40px;
    right: 40px;
}


// Шапка страницы.
.header{

    &__container{
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 20px;
        font-size: 20px;
    };

    &__navigation{
        align-self: center;
    };

    &__list{
        display: flex;
        justify-content: space-between;
    };

    &__list-item{
        padding-left: 32px;
    };

    &__list-link{
        text-decoration: none;
        color: $DarkBlue;
    };
    &__list-link:hover{
        color: $LiteBlue;
        transition: all 0.3s;
    }

    // Append request.
    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
    };

    // Текст кнопки.
    &__link-text{
        padding-right: 15px;
    };

    // ссылка текста.
    &__link-item{
        text-decoration: none;
        color: $DarkBlue;
    };

    // Значок <добавить>.
    &__link-icon{
        background: $DarkBlue;
        width: 24px;
        height: 24px;
        border: #142251 solid 1px;
        border-radius: 25px;
    }

    // <Плюсик в иконке>
    &__link-itemTwo{
        position: absolute;
        width: 10px;
        height: 2px;
        background: aliceblue;
        margin-left: 7px;
        margin-top: 11px;
        cursor: pointer
    };
    &__link-itemTwo::before{
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        background: white;
    };

    &__link-itemTwo::before{
        transform: rotate(90deg);
    };
    
};

// Полоса после шапки.
.lineOne{
    margin-top: 90px;
}


// section1.

.section1{
    margin-top: 30px;

    // Общий фрейм для текста.
    &__frame1{
        width: 30%;
        color: $DarkBlue;
    }

    // Текст первого фрейма.

    // Заглавие.
    &__title{
        font-size: 45px;
        line-height: 50px;
    }
    &__agent{
        color: #1422514b;
    };

    // Текст после заглавия.
    &__text{
        font-size: 17px;
        color: #1422514b;
        margin-top: 15px;
    };

    // Кнопка для подачи информации.
    &__button{
        font-size: 20px;
        margin-top: 55px;
        display: flex;
        // justify-content: space-around;
        border: 1px solid #2138870F;
        border-radius: 10px;
        width: 250px;
        padding: 20px 10px 20px 30px;
        background: #2138870F;
        align-items: center
    };

    &__button-text{
        
    }
    &__button-icon{
        padding-left: 50px;
    };

    // Картинка рядом с текстом.
    // Фон.
    &__bacck{
        position: absolute;
        top: -70px;
        right: 0;
    };

    // Сама картника.
    &__contetntt{
        position: absolute;
        right: 0;
        top: 40px;
    };

    // Ссылки после картинки.
    &__navigationPost{
        position: absolute;
        align-items: center;
        top: 640px;
        right: 20px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #2138870F;
        border-radius: 20px;
        background: #2138870F;
        padding: 10px 40px;
    };

    // Блоки с ссылками.
    &__WatsAppIcon{
        padding-right: 10px;
    }
    &__linkWatsApp{
        padding-right: 30px;
    };

    // Сами ссылки.
    &__linkWatsApp-text{
        text-decoration: none;
        color: $DarkBlue;
        font-weight: 700;
    }
    &__linkWatsApp-text:hover{
        color: $LiteBlue;
        transition: all 0.3s;
    }
    // ----------------------
    &__mail-link{
        text-decoration: underline;
        color: $DarkBlue;
    }
    &__mail-link:hover{
        color: $LiteBlue;
        text-decoration: none;
        transition: all 0.3s;
    }
};

// Начало кастома < section2 >
.section2{
    position: absolute;
    width: 500px;
    top: 900px;
    left: 33%;

    // Кастом заглавия.
    &__TextBlock-title{
        font-size: 60px;
        font-weight: 500;
        color: $DarkBlue;
        margin-bottom: 20px;
    };

    // Кастом строк после заглавия.
    &__TextBlock-text{
        font-size: 24px;
        font-weight: 400;
        color: #1422516e;
        text-align: center;
        margin-left: -130px;
        line-height: 30px;
    };

    // Блок картинок после текста.
    &__PictureBlock{
        position: absolute;
        top: 0;
        left: -45%;
    }
    &__PictureBlock-item{
        width: 800px;
        height: 600px;
    }
};

// < section4 >
.section4{
    position: absolute;
    width: 869px;
    background: #F3F6F9;
    top: 1450px;

    // Шапка 4 блока.
    &__header{
        display: flex;
        justify-content: space-between;
    }

    // Стрелки 4 блока.
    &__header-elem3{
        position: relative;
        display: flex;
        justify-content: center;
        border: 1px solid white;
    }

    // Сами стрелки.
    &__span2, &__span1{
        width: 8px;
        height: 2px;
        background: #000;
    }

    // BEFORE && AFTER для первой стрелки.
    &__span1:before{
        content: '';
        position: absolute;
        width: 8px;
        height: 2px;
        margin-top: 5px;
        background: #000;
        transform: rotate(35.5deg)
    }
    &__span1:after{
        content: '';
        position: absolute;
        width: 8px;
        height: 2px;
        margin-top: 10px;
        margin-right: 10px;
        background: #000;
        transform: rotate(-35.5deg)
    }

    // BEFORE && AFTER для второй стрелки.
    &__span2:before{
        content: '';
        position: absolute;
        width: 8px;
        height: 2px;
        margin-top: 5px;
        background: #000;
        transform: rotate(-35.5deg)
    }
    &__span2:after{
        content: '';
        position: absolute;
        width: 8px;
        height: 2px;
        margin-top: 10px;
        margin-right: 10px;
        background: #000;
        transform: rotate(35.5deg)
    }
}