@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Gorditas&family=Josefin+Sans:wght@200&family=Montserrat:wght@200&family=Mukta:wght@200&family=Red+Hat+Mono:wght@300&family=Rubik+Glitch&family=Spline+Sans+Mono:wght@300&family=Titillium+Web:wght@200&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 1340px;
  position: relative;
  background-color: #F7F8FD;
}

.mainBlock {
  width: 100%;
  height: 100%;
  position: absolute;
}

.mainBlock__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 135px 0 135px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBlock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.mainBlock__link:hover {
  color: #446DF6;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mainBlock__item {
  padding-right: 45px;
}

.mainBlock__link {
  text-decoration: none;
  color: #686868;
}

.mainBlock__getAccess {
  color: #446DF6;
  border: 1px solid rgba(128, 128, 128, 0.178);
  border-radius: 6px;
  background: #F7F8FD;
  padding: 10px;
}

.mainBlock__getAccess:hover {
  letter-spacing: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #E9ECF5;
}

.mainBlock__sectionOne {
  position: absolute;
  display: block;
  font-weight: 400;
  line-height: 50px;
  color: #141B41;
}

.mainBlock__findService {
  position: absolute;
  width: 580px;
  top: 180px;
  left: 135px;
  font-size: 30px;
}

.mainBlock__textFindService {
  position: absolute;
  top: 300px;
  left: 135px;
  width: 490px;
  height: 93px;
  font-size: 24px;
  padding-bottom: 30px;
}

.mainBlock__getAccess2 {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 440px;
  left: 135px;
  font-size: 18px;
  border: 1px solid #446DF6;
  background-color: #446DF6;
  border-radius: 6px;
  color: #E9ECF5;
}

.mainBlock__imgIphone12 {
  position: absolute;
  top: 103px;
  left: 634px;
}

.mainBlock__sectionTwo {
  position: absolute;
  top: 696px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #141B41;
}

.mainBlock__speedStart {
  position: absolute;
  left: 600px;
  top: 20px;
}

.mainBlock__speedStart-item {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 50px;
}

.mainBlock__imgIphoneTwo {
  position: absolute;
  top: -30px;
}

.mainBlock__list-item1, .mainBlock__list-item2, .mainBlock__list-item3, .mainBlock__list-item4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

.mainBlock__speedStart-list {
  padding-left: 30px;
}

.mainBlock__speedStart-title {
  padding-bottom: 10px;
}

.mainBlock__section3 {
  position: absolute;
  top: 1250px;
}

.mainBlock__header3 {
  text-align: center;
  color: #141B41;
  margin-left: 250px;
}

.mainBlock__title3 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 20px;
}

.mainBlock__text3 {
  width: 800px;
  height: 58px;
  font-size: 18px;
  font-weight: 350;
  color: #686868;
  letter-spacing: 0.3px;
  line-height: 25px;
}

.mainBlock__gallery3-position {
  left: 100px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainBlock__gallery3 {
  margin-top: 80px;
  padding-left: 20px;
  color: #141B41;
}

.mainBlock__gallery3-item {
  display: block;
  text-align: center;
  width: 150px;
  height: 100px;
  border: 1px solid #F7F8FD;
  border-radius: 10px;
  -webkit-box-shadow: 0px 16px 20px rgba(20, 27, 65, 0.03);
          box-shadow: 0px 16px 20px rgba(20, 27, 65, 0.03);
  padding: 20px;
}

.mainBlock__gallery3-icon {
  padding-bottom: 20px;
}

.mainBlock__gallery3-text {
  line-height: 20px;
  font-weight: 350px;
  font-size: 16px;
}

.mainBlock__button3 {
  position: absolute;
  top: 450px;
  left: 530px;
  border: none;
  background: #F7F8FD;
}

.mainBlock__button3-link {
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #446DF6;
  background-color: #446DF6;
  border-radius: 6px;
  color: #E9ECF5;
  padding: 15px 40px;
}

.mainBlock__section5 {
  position: absolute;
  top: 2370px;
  left: 100px;
}

.mainBlock__section5-frame1 {
  display: block;
  width: 600px;
}

.mainBlock__section5-title {
  color: #141B41;
  font-size: 30px;
  margin-bottom: 30px;
}

.mainBlock__section5-text {
  color: #72727E;
  line-height: 24px;
  margin-bottom: 30px;
}

.mainBlock__section5-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.mainBlock__icon {
  border-radius: 50px;
}

.mainBlock__nameDriver {
  font-size: 20px;
  color: #141B41;
  padding-left: 20px;
}

.mainBlock__driver {
  font-size: 17px;
  color: #686868;
}

.mainBlock__section5-frame2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 100px;
  left: 900px;
}

.mainBlock__brackets1 {
  width: 20px;
  border: 1px solid #F7F8FD;
  border-radius: 30px;
  background-color: #F7F8FD;
  padding: 10px;
}

.mainBlock__brackets1:hover {
  color: white;
  background-color: #446DF6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainBlock__brackets2 {
  width: 20px;
  border: 1px solid #F7F8FD;
  background-color: #F7F8FD;
  border-radius: 30px;
  padding: 10px;
  margin-left: 70px;
}

.mainBlock__brackets2:hover {
  color: white;
  background-color: #446DF6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainBlock__footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 135px 0 135px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 2800px;
  width: 90%;
  left: -134px;
  background-color: #141B41;
  border-radius: 10px;
  padding: 30px 50px;
}

.mainBlock__list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.mainBlock__link--footer:hover {
  color: #446DF6;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mainBlock__item--footer {
  padding-right: 45px;
}

.mainBlock__link--footer {
  text-decoration: none;
  color: #686868;
}

.mainBlock__getAccess--footer {
  color: #446DF6;
  border: 1px solid rgba(128, 128, 128, 0.178);
  border-radius: 6px;
  background: #141B41;
  padding: 10px;
}

.mainBlock__getAccess--footer:hover {
  letter-spacing: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #E9ECF5;
}

.section4 {
  position: absolute;
  top: 1800px;
  left: 70px;
}

.line {
  color: #686868;
}
/*# sourceMappingURL=style2.css.map */